body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    height: 100vh;
    background-color: #e0e7ff;
}
.card{
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 300px;
}
.qr-code img{
    width: 100%;
    border-radius: 10px;
}

.card-content h2 {
    font-size: 18px;
    margin: 20px 0 10px;
    color: #333;
}

.card-content p {
    font-size: 14px;
    color: #666;
}
